.profile-header{
    margin: 0;
    .tabs{
        margin: 0;
        margin-top: 50px;
        @media screen and (max-width: $max-width){
            margin-top: 4.44vw;
        }
        .tab{
            width: 50%;
            text-align: center;
        }
    }
}

.profile-body{
    padding-top: 90px;
    @media screen and (max-width: $max-width){
        padding-top: 8vw;
    }

    .field-button{
        margin-top: 100px;
        margin-bottom: 100px;
        @media screen and (max-width: $max-width){
            margin-top: 8.88vw;
            margin-bottom: 8.88vw;
        }
        .field-button-text{
            margin-bottom: 50px;
            font-size: 35px;
            color: #292929;
            opacity: 0.5;
            @media screen and (max-width: $max-width){
                margin-bottom: 4.44vw;
                font-size: 3.11vw;
            }
        }
    }
    .text-block{
        padding: 15px 0 90px;
        @media screen and (max-width: $max-width){
            padding: 1.33vw 0 8vw;
        }
    }
    .text-block-center{
        text-align: center;
        width: 100%;
    }
    .text{
        padding: 20px 0;
        @media screen and (max-width: $max-width){
            padding: 1.77vw 0;
        }
    }
}


.account-header{
    padding-bottom: 80px;
    @media screen and (max-width: $max-width){
        padding-bottom: 7.11vw;
    }
    .field-button{
        margin-top: 80px;
        @media screen and (max-width: $max-width){
            margin-top: 7.11vw;
        }
    }
}

.verify-body{
    .field-button{
        margin: 50px 0 100px;
        @media screen and (max-width: $max-width){
            margin: 4.44vw 0 8.88vw;
        }
    }
}